
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Interview Scheduler</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a id="a1" href="/#/new_participant">New Participant</a></li>
        <li><a id="a2" href="/#/new_interview">New Interview</a></li>
        <li><a id="a3" href="/#/participants">Participants</a></li>
        <li><a id="a4" href="/#/interviews">Interviews</a></li>
      </ul>
    </div>
  </nav>

<div id="content" class="container">
</div>
